@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
}

.maincontainer {
    background-color: whitesmoke;
    width: 675px;
    height: 675px;
    margin: auto;
    margin-top: 15px;
}

.tittle {
    text-align: center;
    font-size: 100px;
    color: gainsboro;
    font-family: 'Open Sans Condensed', sans-serif;
}

.listA {
    background-color: snow;
    width: 475px;
    height: auto;
    margin: auto;
    box-shadow: 5px 10px 15px #888888, 5px 10px 35px lavender;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: initial;
    font-size: 20px;
    line-height: 2;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 0px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #adadad;
  font-family: 'Open Sans Condensed', sans-serif
}
ul {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style:none;
  padding: 0px;
}
li {
    width: 100%;
    border-bottom: 1px solid #adadad;
    text-indent: 20px;
    padding-top: 10px;
    padding-bottom: 5px;;
}
.footer{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-top: 1px solid #adadad;
  color: darkgray;
}
li > .times{
    float: right;
    padding-right: 15px;
    visibility:hidden;
}
li:hover > .times {
 visibility:visible;
}